Copy files from subfolders to directory

In [2]:
import datetime as dt
import numpy as np
import pandas as pd
import os
import glob
from pathlib import Path
from glob import iglob

In [3]:
import os
import shutil

src = r'C:\Users\ferha\OneDrive\Desktop\myPHPadmin\RCT Updates\JulyAugustData\August_2022'
dest = r'C:\Users\ferha\OneDrive\Desktop\myPHPadmin\RCT Updates\JulyAugustData\Data'

for path, subdirs, files in os.walk(src):
    for name in files:
        filename = os.path.join(path, name)
        shutil.copy2(filename, dest)

convert lowercase to upper

In [151]:
import os

path = r'C:\Users\ferha\OneDrive\Desktop\myPHPadmin\RCT Updates\JulyAugustData\Pilot\Data_ibutton_05092022\temp\\'

for file in os.listdir(path):
    os.rename(path + file, path + file.upper())

In [99]:
import os
import shutil

src = r'C:\Users\ferha\OneDrive\Desktop\myPHPadmin\RCT Updates\JulyAugustData\Data'
dest = r'C:\Users\ferha\OneDrive\Desktop\myPHPadmin\RCT Updates\JulyAugustData\RH'

for path, subdirs, files in os.walk(src):
    for name in files:
        if name.startswith('H'):
            filename = os.path.join(path, name)
            shutil.copy2(filename, dest)

In [100]:
src = r'C:\Users\ferha\OneDrive\Desktop\myPHPadmin\RCT Updates\JulyAugustData\Data'
dest = r'C:\Users\ferha\OneDrive\Desktop\myPHPadmin\RCT Updates\JulyAugustData\temp'

for path, subdirs, files in os.walk(src):
    for name in files:
        if name.startswith('T'):
            filename = os.path.join(path, name)
            shutil.copy2(filename, dest)

In [31]:
import datetime as dt
import numpy as np
import pandas as pd
import os
import glob
from pathlib import Path
from glob import iglob



path = r'C:\Users\ferha\OneDrive\Desktop\HIGH_Nouna\Pilot_Last\Pilot_RH' # use your path
all_files = glob.glob(path + "/*.csv")

cnt = 0
finalexcelsheet = pd.DataFrame()
for filename in all_files:
    df = pd.read_csv(filename, sep=',', index_col=None, header=0, engine='python', dayfirst=True)
    df = df.replace(to_replace='##N/A##', value=np.nan)

from pathlib import Path
p = Path(r'C:\Users\ferha\OneDrive\Desktop\HIGH_Nouna\Questionaires\New folder\HxMed\4')
df.to_csv(Path(p, 'P5_HxMed_4.csv'), index=False)

create clean version of all csv files

In [171]:
import datetime as dt
import numpy as np
import pandas as pd
import os
import glob
from pathlib import Path
from glob import iglob



path = r'C:\Users\ferha\OneDrive\Desktop\myPHPadmin\RCT Updates\JulyAugustData\Pilot\Data_ibutton_05092022\temp' # use your path
all_files = glob.glob(path + "/*.csv")

cnt = 0
finalexcelsheet = pd.DataFrame()
for filename in all_files:
    df = pd.read_csv(filename, sep='§', index_col=None, header=0, engine='python', dayfirst=True)
    s1 = filename
    s2 = "T_"
    s= s1[s1.index(s2) + len(s2):]
    split_string = s.split("_")
    household = split_string[0]

    df = df.iloc[18:]
    df = df.rename(columns={ df.columns[0]: household })
    df = df[household].str.split(",")
    df = df.rename(filename)
    df = df.reset_index()
    df = df.drop(['index'], axis=1)
    df2 = pd.DataFrame(df)
    split_df1 = pd.DataFrame(df2[filename].tolist())

    
    #split_df1 = split_df1[split_df1[0] != '31/09/21 23:05:01']
    #split_df1 = split_df1[split_df1[0] != '31/09/21 23:20:01']
    #split_df1 = split_df1[split_df1[0] != '31/09/21 23:35:01']
    #split_df1 = split_df1[split_df1[0] != '31/09/21 23:50:01']
    
    
    #
    #split_df1['Dates'] = pd.to_datetime(split_df1[0], dayfirst=True).dt.date
    #split_df1['Time'] = pd.to_datetime(split_df1[0]).dt.time
    
    split_df1[household] = split_df1[[2, 3]].apply(lambda x: ','.join(x[x.notnull()]), axis = 1)
    split_df1 = split_df1.drop([2, 3], axis=1, errors='ignore')
    split_df1[household] = split_df1[household].apply(lambda x: x.replace(',','.'))
    split_df1[household] = split_df1[household].astype('float64')
    split_df1[1] = split_df1[1].astype('string')
    for index, row in split_df1.iterrows():
        if split_df1[1][index] == 'F':
            split_df1[household][index] = (split_df1[household][index]-32)*(5/9)
            split_df1.loc[index, 1] = 'C'
    
    
    split_df1.rename(columns = {0: 'DateTime'}, inplace = True)
    
    split_df1 = split_df1.drop([1], axis=1, errors='ignore')
    
    
    split_df1['DateTime'] = pd.to_datetime(split_df1['DateTime']).dt.strftime("%d/%m/%Y %H:%M:%S")
    
    split_df1['DateTime'] = split_df1['DateTime'].astype('datetime64')
    split_df1['DateTime'] = split_df1['DateTime'].agg(lambda x : x.round('15min'))
    
    #split_df1 = split_df1.set_index('DateTime')
    split_df1 = split_df1.dropna()
    
    split_df1 = split_df1.sort_values(['DateTime'])
    


    finalexcelsheet = split_df1
    finalexcelsheet = finalexcelsheet.drop_duplicates()
    cnt +=1
    from pathlib import Path
    p = Path(r'C:\Users\ferha\OneDrive\Desktop\myPHPadmin\RCT Updates\JulyAugustData\Pilot\Data_ibutton_05092022\TEMP_CLEANSED')
    finalexcelsheet.to_csv(Path(p, 'H_' + str(household)+ '_' + str(cnt) + '.csv'), index=False)
    
    
    
    

    print(split_df1.memory_usage(index=False, deep=True))
    print(split_df1.info())
    

split_df1

DateTime    13856
0007AA      13856
dtype: int64
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1732 entries, 0 to 1731
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   DateTime  1732 non-null   datetime64[ns]
 1   0007AA    1732 non-null   float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 40.6 KB
None
DateTime    13848
0044AA      13848
dtype: int64
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1731 entries, 0 to 1730
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   DateTime  1731 non-null   datetime64[ns]
 1   0044AA    1731 non-null   float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 40.6 KB
None
DateTime    13848
0049AA      13848
dtype: int64
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1731 entries, 0 to 1730
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   DateTime  1731 non-null   datetime64[ns]
 1   0049AA    1731 non-null   float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 40.6 KB
None
DateTime    13216
0064AA      13216
dtype: int64
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1652 entries, 0 to 1651
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   DateTime  1652 non-null   datetime64[ns]
 1   0064AA    1652 non-null   float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 38.7 KB
None
DateTime    13848
0076AA      13848
dtype: int64
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1731 entries, 0 to 1730
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   DateTime  1731 non-null   datetime64[ns]
 1   0076AA    1731 non-null   float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 40.6 KB
None
DateTime    13872
0084AA      13872
dtype: int64
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1734 entries, 0 to 1733
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   DateTime  1734 non-null   datetime64[ns]
 1   0084AA    1734 non-null   float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 40.6 KB
None
DateTime    13848
0085AA      13848
dtype: int64
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1731 entries, 0 to 1730
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   DateTime  1731 non-null   datetime64[ns]
 1   0085AA    1731 non-null   float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 40.6 KB
None
DateTime    13832
0088AA      13832
dtype: int64
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1729 entries, 0 to 1728
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   DateTime  1729 non-null   datetime64[ns]
 1   0088AA    1729 non-null   float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 40.5 KB
None

                DateTime  0088AA
0    2022-08-18 13:30:00  34.629
1    2022-08-18 13:45:00  36.127
2    2022-08-18 14:00:00  36.127
3    2022-08-18 14:15:00  36.626
4    2022-08-18 14:30:00  36.626
...                  ...     ...
1724 2022-09-05 12:30:00  38.622
1725 2022-09-05 12:45:00  39.619
1726 2022-09-05 13:00:00  39.619
1727 2022-09-05 13:15:00  39.619
1728 2022-09-05 13:30:00  39.619

[1729 rows x 2 columns]

getting householdIDs from csv files in given folder

In [ ]:
import datetime as dt
import numpy as np
import pandas as pd
import os
import glob
from pathlib import Path
from glob import iglob



path = r'C:\Users\ferha\OneDrive\Desktop\HIGH_Nouna\RCT RH Update Cleansed' # use your path
all_files = glob.glob(path + "/*.csv")

cnt = 0
finalexcelsheet = pd.DataFrame()
for filename in all_files:
    df = pd.read_csv(filename, sep='§', index_col=None, header=0, engine='python', dayfirst=True)
    s1 = filename
    s2 = "T_"
    s= s1[s1.index(s2) + len(s2):]
    split_string = s.split("_")
    household = split_string[0]

    df = df.iloc[18:]
    df = df.rename(columns={ df.columns[0]: household })
    df = df[household].str.split(",")
    df = df.rename(filename)
    df = df.reset_index()
    df = df.drop(['index'], axis=1)
    df2 = pd.DataFrame(df)
    split_df1 = pd.DataFrame(df2[filename].tolist())

    #
    #split_df1['Dates'] = pd.to_datetime(split_df1[0], dayfirst=True).dt.date
    #split_df1['Time'] = pd.to_datetime(split_df1[0]).dt.time

    split_df1[household] = split_df1[[2, 3]].apply(lambda x: ','.join(x[x.notnull()]), axis = 1)
    split_df1 = split_df1.drop([ 2, 3], axis=1, errors='ignore')
    split_df1.rename(columns = {0: 'DateTime', 1: 'Unit'}, inplace = True)
    split_df1[household] = split_df1[household].apply(lambda x: x.replace(',','.'))
    split_df1[household] = split_df1[household].astype('float64')
    split_df1['Unit'] = split_df1['Unit'].astype('string')
    
    
    split_df1['DateTime'] = pd.to_datetime(split_df1['DateTime']).dt.strftime("%d/%m/%Y %H:%M:%S")
    
    split_df1['DateTime'] = split_df1['DateTime'].astype('datetime64')
    split_df1['DateTime'] = split_df1['DateTime'].agg(lambda x : x.round('15min'))
    
    split_df1 = split_df1.set_index('DateTime')
    split_df1 = split_df1.dropna()
    
    split_df1 = split_df1.sort_values(['DateTime'])
    
    finalexcelsheet = split_df1
    finalexcelsheet = finalexcelsheet.drop_duplicates()
    cnt +=1
    from pathlib import Path
    p = Path(r'C:\Users\ferha\OneDrive\Desktop\HIGH_Nouna\RCT Temp Cleansed')
    #finalexcelsheet.to_csv(Path(p, 'T_' + str(household)+ '_' + str(cnt) + '.csv'), index=False)
    
    #df =split_df1.join(df, how='outer')
    
    
print(split_df1.memory_usage(index=False, deep=True))
print(split_df1.info())
    

split_df1

In [101]:
path = r'C:\Users\ferha\OneDrive\Desktop\myPHPadmin\RCT Updates\JulyAugustData\RH'
all_files = glob.glob(path + "/*.csv")

list_hh = []

cnt = 0
finalexcelsheet = pd.DataFrame()
for filename in all_files:
    df = pd.read_csv(filename, sep='comma', index_col=None, header=0, engine='python')
    s1 = filename
    s2 = "H_"
    s= s1[s1.index(s2) + len(s2):]
    split_string = s.split("_")
    household = split_string[0]
    
    list_hh.append(str(household))

Count the appearance and store them in a dictionary

In [102]:
dict_hh = {i:list_hh.count(i) for i in list_hh}

In [103]:
path = r'C:\Users\ferha\OneDrive\Desktop\myPHPadmin\RCT Updates\JulyAugustData\Temp' # use your path
all_files = glob.glob(path + "/*.csv")

list_hhs = []

cnt = 0
finalexcelsheet = pd.DataFrame()
for filename in all_files:
    df = pd.read_csv(filename, sep='comma', index_col=None, header=0, engine='python')
    s1 = filename
    s2 = "T_"
    s= s1[s1.index(s2) + len(s2):]
    split_string = s.split("_")
    household = split_string[0]
    
    list_hhs.append(str(household))

In [104]:
dict_hhs = {i:list_hhs.count(i) for i in list_hhs}

In [105]:
diff_list = [item for item in list_hhs if item not in list_hh]
diff_list

[]

Checking the number of appeariance

In [106]:
diff_dict_hh = dict((k, v) for k, v in dict_hh.items() if v < 2)
key_list = list(diff_dict_hh.keys())
print(key_list)

['001000105AA', '018000238AA', '019000209AA', '019000241AA', '019000620AA', '050000205AA', '051000101AA']

In [107]:
diff_dict_hh = dict((k, v) for k, v in dict_hh.items() if v > 2)
key_list = list(diff_dict_hh.keys())
print(key_list)

['018000293AA']

Checking the difference

In [108]:
list_hh = list(set(list_hh))

print(len(list_hh))

558

In [109]:
print(len(dict_hh))
print(sum(dict_hh.values()))

558
1110

Comparison with serial numbers excel

In [110]:
list_ibutton = pd.read_excel(r'C:\Users\ferha\OneDrive\Desktop\HIGH_Nouna\iButton_serial_numbers (3).xlsx', index_col=0)
list_serial = list_ibutton['Unnamed: 2'].values.tolist()
diff_list = [item for item in list_hh if item not in list_serial]
#diff_list = pd.DataFrame({'col':diff_list})
diff_list = list(set(diff_list))
diff_list

['024000174AA']

In [111]:
list_ibutton = pd.read_excel(r'C:\Users\ferha\OneDrive\Desktop\HIGH_Nouna\iButton_serial_numbers (3).xlsx', index_col=0)
list_serial = list_ibutton['Unnamed: 2'].values.tolist()
diff_list = [item for item in list_hhs if item not in list_serial]
#diff_list = pd.DataFrame({'col':diff_list})
diff_list = list(set(diff_list))
diff_list

['024000174AA']

In [200]:
banco_cont = list_ibutton[((list_ibutton['Unnamed: 3'] == 'Banco' ) | (list_ibutton['Unnamed: 3'] == 'BANCO')) & ((list_ibutton['Unnamed: 4'] == 'CONTROLE') )]

In [201]:
banco_cont

    LISTE DES IBUTTONS   Unnamed: 2 Unnamed: 3 Unnamed: 4        Unnamed: 5
4               Bagala  044000102AA      Banco   CONTROLE  4000000075CD2541
8               Bagala  044000189AA      Banco   CONTROLE  AB00000075CF1241
13              Bagala  044000311AA      Banco   CONTROLE  680000005EE00741
14              Bagala  044000312AA      Banco   CONTROLE  0300000075CDE141
20              Bagala  044000391AA      Banco   CONTROLE  9500000075C98C41
..                 ...          ...        ...        ...               ...
583               Toni  002000096AA      Banco   CONTROLE  59000000757B8C41
587               Toni  002000170AB      Banco   CONTROLE  9C000000757EA441
591               Toni  002000242AA      Banco   CONTROLE  D300000075785C41
598               Toni  002000389AA      Banco   CONTROLE  6E000000757FE941
599               Toni  002000408AA      Banco   CONTROLE  9D000000757B5C41

[150 rows x 5 columns]

In [202]:
banco_cont_id = banco_cont['Unnamed: 2'].values.tolist()

In [203]:
banco_cont_id

['044000102AA',
 '044000189AA',
 '044000311AA',
 '044000312AA',
 '044000391AA',
 '044000419AA',
 '041000102AA',
 '041000222AA',
 '041000293AA',
 '041000298AA',
 '041000336AA',
 '041000338AA',
 '001000001AA',
 '001000096AA',
 '001000112AA',
 '001000122AA',
 '001000126AA',
 '001000154AA',
 '004000018AA',
 '004000140AA',
 '004000221AA',
 '004000234AA',
 '004000238AA',
 '004000261AA',
 '046000016AA',
 '046000039AA',
 '046000109AA',
 '046000121AA',
 '046000154AA',
 '046000157AA',
 '005000062AB',
 '005000073AA',
 '005000151AA',
 '005000198AA',
 '005000199AA',
 '005000202AA',
 '007000386AA',
 '007000400AC',
 '007000570AA',
 '007000622AA',
 '007000772AA',
 '077000423AA',
 '040000144AA',
 '040000156AB',
 '040000157AB',
 '040000237AE',
 '040000339AA',
 '040000453AA',
 '014000023AB',
 '014000024AA',
 '014000045AA',
 '014000046AB',
 '014000062AA',
 '014000157AA',
 '017000119AB',
 '017000458AA',
 '017000504AA',
 '017000613AA',
 '017000678AA',
 '017000688AA',
 '018000075AA',
 '018000100AA',
 '018000108AA',
 '018000168ABC',
 '018000213AA',
 '018000365AA',
 '050000050AA',
 '050000073AB',
 '050000100AA',
 '050000205AA',
 '050000208AA',
 '050000262AA',
 '051000003AA',
 '051000042AA',
 '051000070AB',
 '051000090AA',
 '051000145AA',
 '051000170AA',
 '019000220AA',
 '019000585AA',
 '019000587AA',
 '019000588AA',
 '019000662AA',
 '019000691AA',
 '052000030AA',
 '052000109AA',
 '052000120AA',
 '052000145AA',
 '052000165AC',
 '052000193AA',
 '020000067AB',
 '020000096AD',
 '020000098AA',
 '020000236AB',
 '020000285AA',
 '020000287AA',
 '022000023AB',
 '022000117AA',
 '022000127AA',
 '022000133AA',
 '022000134AA',
 '022000140AA',
 '024000109AB',
 '024000166AA',
 '024000170AA',
 '024000172AA',
 '024000242AA',
 '024000252AA',
 '056000028AA',
 '056000080AA',
 '056000085AB',
 '056000096AB',
 '056000100AA',
 '056000210AA',
 '026000002AA',
 '026000002AC',
 '026000074AA',
 '026000092AA',
 '026000233AA',
 '026000272AA',
 '042010303AA',
 '042010308AA',
 '042010446AA',
 '042020232AC',
 '042040315AA',
 '042070314AA',
 '028000021AA',
 '028000035AB',
 '028000045AB',
 '028000063AA',
 '028000063AB',
 '028000140AA',
 '032000068AA',
 '032000217AA',
 '032000223AA',
 '032000224AA',
 '032000244AA',
 '032000264AA',
 '033000012AA',
 '033000027AA',
 '033000081AA',
 '033000209AA',
 '033000288AA',
 '033000290AA',
 '002000021AD',
 '002000096AA',
 '002000170AB',
 '002000242AA',
 '002000389AA',
 '002000408AA']

In [204]:
list_col = pd.DataFrame(banco_cont_id)
list_col['var1']=' ,'


#df_col["sql"] = df_col['var'].astype(str) +df_col['cols']+ df_col['var1']

list_col

               0 var1
0    044000102AA    ,
1    044000189AA    ,
2    044000311AA    ,
3    044000312AA    ,
4    044000391AA    ,
..           ...  ...
145  002000096AA    ,
146  002000170AB    ,
147  002000242AA    ,
148  002000389AA    ,
149  002000408AA    ,

[150 rows x 2 columns]

In [89]:
diff_list1 = [item for item in list_serial if item not in list_hh]
#diff_list = pd.DataFrame({'col':diff_list})
diff_list1

['ID Menage', '024000174AA ', nan, nan, nan]

Merging csv files belong to same householdID

In [124]:
import glob
import os
import pandas

def create_merged_csv(key, filelist):
    outfile = 'Concat_{}.csv'.format(key)
    l = []
    for filename in filelist:
        df = pandas.read_csv(filename)
        l.append(df)
    pd.concat(l).to_csv(outfile, index=False)

def find_filesets(path='.'):
    csv_files = {}
    for name in glob.glob("{}/*_*.csv".format(path)):
        key = '_'.join(name.split('_')[2:-1])
        csv_files.setdefault(key, []).append(name)
        
       
    for key,filelist in csv_files.items(): 
        print(key)
        create_merged_csv(key, filelist)

TEST_DIR_NAME=r'C:\Users\ferha\OneDrive\Desktop\myPHPadmin\RCT Updates\JulyAugustData\RH_cleansed'
os.chdir(r'C:\Users\ferha\OneDrive\Desktop\myPHPadmin\RCT Updates\JulyAugustData\RH_concat')
find_filesets(TEST_DIR_NAME)

001000001AA
001000004AB
001000005AC
001000011AA
001000030AB
001000089AB
001000092AB
001000096AA
001000098AA
001000105AA
001000111AA
001000112AA
001000114AA
001000120AA
001000122AA
001000126AA
001000138AA
001000140AA
001000148AA
001000154AA
001000155AA
001000176AA
001000183AA
002000012AA
002000021AA
002000021AD
002000027AA
002000028AB
002000058AA
002000096AA
002000100AA
002000102AB
002000169AA
002000170AB
002000170AL
002000194AA
002000235AA
002000242AA
002000244AA
002000311AA
002000320AA
002000330AA
002000362AA
002000373AA
002000389AA
002000408AA
002000428AA
004000053AA
004000056AA
004000060AA
004000065AA
004000080AA
004000084AA
004000108AA
004000140AA
004000144AA
004000165AA
004000177AA
004000183AA
004000190AA
004000191AA
004000210AA
004000221AA
004000234AA
004000238AA
004000248AA
004000254AA
004000260AA
004000261AA
005000019AA
005000054AA
005000056AA
005000062AB
005000072AA
005000073AA
005000109AA
005000126AA
005000139AA
005000145AA
005000149AB
005000151AA
005000160AA
005000168AA
005000174AA
005000179AA
005000196AA
005000198AA
005000202AA
005000203AA
005000207AA
005000211AA
005000223AA
014000005AA
014000016AA
014000023AB
014000024AA
014000030AA
014000038AB
014000042AA
014000045AA
014000046AA
014000051AA
014000053AB
014000058AA
014000062AA
014000069AE
014000074AB
014000076AB
014000088AA
014000098AA
014000109AA
014000117AA
014000127AA
014000157AA
017000009AA
017000072AA
017000117AA
017000119AB
017000197AB
017000301AC
017000306AA
017000381AA
017000383AA
017000458AA
017000469AA
017000482AA
017000485AA
017000504AA
017000608AA
017000613AA
017000645AA
017000659AA
017000660AA
017000674AA
017000675AA
017000678AA
017000688AA
017000730AA
018000015AA
018000016AA
018000042AA
018000058AB
018000075AA
018000100AA
018000107AA
018000108AA
018000149AA
018000168ABC
018000177AF
018000204AB
018000213AA
018000238AA
018000240ABC
018000241AB
018000293AA
018000295AA
018000296AA
018000307AA
018000365AA
018000427AA
018000431AA
018000449AA
019000039AA
019000160AA
019000209AA
019000220AA
019000241AA
019000262AA
019000263AA
019000507AA
019000507AB
019000583AA
019000585AA
019000587AA
019000588AA
019000597AB
019000609AB
019000613AA
019000614AB
019000620AA
019000662AA
019000665AA
019000666AA
019000687AA
019000691AA
019000692AA
020000002AC
020000006AA
020000007AA
020000009AA
020000017AB
020000060AA
020000061AB
020000073AA
020000097AA
020000098AA
020000122AC
020000142AA
020000166AB
020000195AA
020000200AB
020000236AB
020000257AA
020000261AA
020000281AA
020000285AA
020000287AA
022000001AB
022000006AA
022000019AA
022000023AB
022000051AE
022000056AB
022000061AA
022000094AA
022000102AA
022000103AA
022000111AA
022000117AA
022000123AA
022000127AA
022000128AA
022000129AA
022000133AA
022000134AA
022000140AA
022000145AA
022000147AA
022000159AA
024000020AA
024000021AB
024000030AA
024000036AA
024000091AC
024000107AA
024000109AB
024000127AA
024000149AA
024000163AA
024000166AA
024000170AA
024000172AA
024000174AA
024000186AA
024000191AA
024000196AA
024000215AA
024000225AA
024000240AA
024000242AA
024000245AA
024000252AA
024000272AA
026000001AA
026000002AA
026000002AB
026000002AC
026000005AB
026000044AB
026000057AB
026000066AA
026000074AA
026000092AA
026000154AA
026000160AA
026000189AA
026000190AA
026000191AA
026000193AA
026000211AA
026000214AA
026000231AA
026000233AA
026000265AA
026000272AA
026000276AA
026000278AA
028000017AB
028000019AA
028000020AB
028000021AA
028000027AA
028000031AC
028000035AB
028000045AB
028000045AD
028000063AA
028000063AB
028000072AA
028000072AB
028000073AA
028000095AA
028000126AA
028000137AA
028000137AC
028000140AA
028000143AA
028000145AB
028000157AA
028000200AA
028000257AA
032000017AA
032000050AA
032000053AB
032000068AA
032000073AA
032000085AA
032000094AA
032000117AA
032000177AB
032000180AA
032000209AA
032000217AA
032000223AA
032000224AA
032000233AA
032000235AC
032000243AA
032000246AA
032000260AA
032000264AA
032000265AA
032000276AA
032000282AA
033000001AA
033000001AB
033000002AB
033000007AD
033000008AA
033000012AA
033000027AA
033000051AB
033000081AA
033000095AA
033000111AA
033000120AB
033000120AC
033000126AA
033000170AA
033000184AA
033000209AA
033000220AA
033000238AA
033000248AA
033000249AA
033000273AB
033000288AA
033000290AA
040000023AB
040000044AB
040000063AA
040000076AB
040000086AB
040000103AA
040000144AA
040000156AB
040000157AB
040000220AC
040000237AE
040000291AF
040000305AA
040000332AA
040000339AA
040000343AA
040000357AB
040000370AA
040000382AA
040000408AA
040000428AA
040000449AA
040000453AA
040000455AA
041000010AA
041000015AA
041000081AA
041000095AA
041000102AA
041000111AA
041000143AA
041000150AA
041000158AA
041000191AA
041000222AA
041000235AA
041000252AA
041000293AA
041000298AA
041000300AA
041000321AA
041000336AA
041000338AA
041000348AA
041000364AA
041000389AA
041000423AA
042010240AB
042010303AA
042010308AA
042010318AA
042010446AA
042020124AB
042020232AC
042020324AB
042030584AB
042040178AI
042040313AA
042040315AA
042040324AA
042040336AA
042040944AA
042050164AA
042050283AB
042050374AA
042050524AB
042070314AA
042070316AA
042070497AA
044000005AA
044000019AB
044000073AA
044000102AA
044000133AA
044000137AA
044000140AA
044000189AA
044000213AA
044000218AA
044000241AA
044000309AA
044000311AA
044000312AA
044000317AA
044000340AC
044000350AA
044000365AA
044000389AA
044000391AA
044000407AA
044000408AA
044000419AA
044000421AA
046000011AA
046000016AA
046000018AB
046000023AD
046000030AA
046000036AA
046000039AA
046000046AA
046000059AA
046000064AA
046000071AA
046000073AB
046000076AA
046000079AA
046000081AA
046000091AA
046000109AA
046000121AA
046000135AA
046000141AA
046000151AA
046000154AA
046000157AA
050000005AA
050000006AA
050000016AA
050000045AA
050000050AA
050000058AB
050000062AA
050000073AB
050000076AA
050000095AA
050000100AA
050000104AA
050000107AB
050000118AA
050000120AA
050000136AA
050000198AA
050000205AA
050000207AB
050000208AA
050000223AA
050000236AA
050000238AA
050000262AA
051000003AA
051000012AA
051000042AA
051000046AA
051000070AB
051000072AA
051000082AA
051000089AB
051000090AA
051000101AA
051000101AB
051000110AA
051000129AA
051000138AA
051000139AA
051000145AA
051000145AB
051000147AA
051000160AA
051000163AA
051000164AA
051000170AA
051000171AA
051000176AA
052000030AA
052000044AA
052000049AA
052000058AA
052000060AA
052000069AA
052000082AB
052000109AA
052000120AA
052000122AA
052000127AA
052000132AA
052000145AA
052000153AA
052000165AC
052000185AA
052000197AA
052000208AA
052000209AA
052000210AA
052000214AA
052000246AA
052000256AA
056000018AA
056000022AC
056000028AA
056000042AA
056000047AA
056000049AA
056000057AC
056000062AA
056000071AC
056000077AA
056000080AA
056000085AB
056000095AA
056000096AB
056000098AB
056000100AA
056000108AB
056000111AA
056000132AA
056000151AA
056000157AA
056000210AA
056000216AA

Merging cleansed household data into one table

In [173]:
path = r'C:\Users\ferha\OneDrive\Desktop\myPHPadmin\RCT Updates\JulyAugustData\Pilot\Data_ibutton_05092022\TEMP_CLEANSED\New folder' # use your path
all_files = glob.glob(path + "/*.csv")

for filename in all_files:
    #df = pd.read_csv(filename, sep=',', index_col=None, header=None, engine='python')
    df = pd.read_csv(filename, sep=',', index_col=None, header=0, engine='python')
    df = df.groupby('DateTime').mean().reset_index()
    df = df.drop_duplicates(subset='DateTime', keep='first')
    
    df['DateTime'] = df['DateTime'].astype('datetime64')
    df = df.sort_values(['DateTime'],ascending=False)
    df = df.set_index('DateTime')
    
    
path = r'C:\Users\ferha\OneDrive\Desktop\myPHPadmin\RCT Updates\JulyAugustData\Pilot\Data_ibutton_05092022\TEMP_CLEANSED' # use your path
all_files = glob.glob(path + "/*.csv")

for filename in all_files:
    df1 = pd.read_csv(filename, sep=',', index_col=None, header=None, engine='python')
    s1 = filename
    s2 = "Concat_"
    s= s1[s1.index(s2) + len(s2):]
    split_string = s.split("_")
    household = split_string[0]
    household = household.rsplit('.', 1)[0]
    if 2 in df1.columns:
    
        df1 = df1.iloc[1:]
        df1.rename(columns = {1: 'first', 2:'second'}, inplace = True)
        
        df1['first'] = df1['first'].replace('nan', np.nan).fillna(0)
        df1['first'] = df1['first'].astype('float64')
        df1['second'] = df1['second'].replace('nan', np.nan).fillna(0)
        df1['second'] = df1['second'].astype('float64')
        #df['first'] = df['first'].apply(lambda x: x.replace(',','.'))
        #df['second'] = df['second'].apply(lambda x: x.replace(',','.'))
        df1[household]= df1['first'] +df1['second']
        
        df1.drop('first', axis=1, inplace=True) 
        df1.drop('second', axis=1, inplace=True) 
        
        df1.rename(columns = {0: 'DateTime'}, inplace = True)
        df1 = df1.groupby('DateTime').mean().reset_index()
        df1 = df1.drop_duplicates(subset='DateTime', keep='first')
        df1['DateTime'] = df1['DateTime'].astype('datetime64')
        df1 = df1.sort_values(['DateTime'],ascending=False)
        df1 = df1.set_index('DateTime')

        df1.info()
        
        
        df =df1.join(df, lsuffix="_left", rsuffix="_right", how='outer')
    else:
        
        df1 = pd.read_csv(filename, sep=',', index_col=None, header=None, engine='python')
        s1 = filename
        s2 = "Concat_"
        s= s1[s1.index(s2) + len(s2):]
        split_string = s.split("_")
        household = split_string[0]
        household = household.rsplit('.', 1)[0]
       
        df1 = df1.iloc[1:]
        
        df1.rename(columns = {1: household}, inplace = True)
        df1[household] = df1[household].replace('nan', np.nan).fillna(0)
        df1[household] = df1[household].astype('float64')
        
        
        df1.rename(columns = {0: 'DateTime'}, inplace = True)
        df1 = df1.groupby('DateTime').mean().reset_index()
        df1 = df1.drop_duplicates(subset='DateTime', keep='first')
        df1['DateTime'] = df1['DateTime'].astype('datetime64')
        df1 = df1.sort_values(['DateTime'],ascending=False)
        df1 = df1.set_index('DateTime')
        
        df1.info()
        df =df1.join(df, how='outer')
        
        
        
df = df.sort_values(['DateTime'],ascending=False)

       
df

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1731 entries, 2022-09-05 12:30:00 to 2022-08-18 12:00:00
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0044AA  1731 non-null   float64
dtypes: float64(1)
memory usage: 27.0 KB
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1731 entries, 2022-09-05 12:45:00 to 2022-08-18 12:15:00
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0049AA  1731 non-null   float64
dtypes: float64(1)
memory usage: 27.0 KB
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1652 entries, 2022-09-05 13:15:00 to 2022-08-19 08:30:00
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0064AA  1652 non-null   float64
dtypes: float64(1)
memory usage: 25.8 KB
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1731 entries, 2022-09-05 12:30:00 to 2022-08-18 12:00:00
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0076AA  1731 non-null   float64
dtypes: float64(1)
memory usage: 27.0 KB
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1734 entries, 2022-09-05 14:15:00 to 2022-08-18 13:00:00
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0084AA  1734 non-null   float64
dtypes: float64(1)
memory usage: 27.1 KB
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1731 entries, 2022-09-05 13:45:00 to 2022-08-18 13:15:00
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0085AA  1731 non-null   float64
dtypes: float64(1)
memory usage: 27.0 KB
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1729 entries, 2022-09-05 13:30:00 to 2022-08-18 13:30:00
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0088AA  1729 non-null   float64
dtypes: float64(1)
memory usage: 27.0 KB

,0088AA,0085AA,0084AA,0076AA,0064AA,0049AA,0044AA,0007AA
DateTime,,,,,,,,
2022-09-05 14:15:00,NaN,NaN,33.589,NaN,NaN,NaN,NaN,NaN
2022-09-05 14:00:00,NaN,NaN,34.089,NaN,NaN,NaN,NaN,NaN
2022-09-05 13:45:00,NaN,33.033,33.589,NaN,NaN,NaN,NaN,NaN
2022-09-05 13:30:00,39.619,33.033,33.589,NaN,NaN,NaN,NaN,NaN
2022-09-05 13:15:00,39.619,33.033,33.090,NaN,34.077,NaN,NaN,34.607
...,...,...,...,...,...,...,...,...
2022-08-18 13:00:00,NaN,NaN,34.089,31.081,NaN,35.600,33.139,32.610
2022-08-18 12:45:00,NaN,NaN,NaN,31.081,NaN,36.099,32.640,32.610
2022-08-18 12:30:00,NaN,NaN,NaN,30.582,NaN,35.102,32.141,33.608
2022-08-18 12:15:00,NaN,NaN,NaN,30.582,NaN,35.102,32.640,NaN
2022-08-18 12:00:00,NaN,NaN,NaN,34.577,NaN,NaN,34.138,NaN

In [176]:
df

,DateTime,0088AA,0085AA,0084AA,0076AA,0064AA,0049AA,0044AA,0007AA
0,2022-09-05 14:15:00,NaN,NaN,33.589,NaN,NaN,NaN,NaN,NaN
1,2022-09-05 14:00:00,NaN,NaN,34.089,NaN,NaN,NaN,NaN,NaN
2,2022-09-05 13:45:00,NaN,33.033,33.589,NaN,NaN,NaN,NaN,NaN
3,2022-09-05 13:30:00,39.619,33.033,33.589,NaN,NaN,NaN,NaN,NaN
4,2022-09-05 13:15:00,39.619,33.033,33.090,NaN,34.077,NaN,NaN,34.607
...,...,...,...,...,...,...,...,...,...
1733,2022-08-18 13:00:00,NaN,NaN,34.089,31.081,NaN,35.600,33.139,32.610
1734,2022-08-18 12:45:00,NaN,NaN,NaN,31.081,NaN,36.099,32.640,32.610
1735,2022-08-18 12:30:00,NaN,NaN,NaN,30.582,NaN,35.102,32.141,33.608
1736,2022-08-18 12:15:00,NaN,NaN,NaN,30.582,NaN,35.102,32.640,NaN
1737,2022-08-18 12:00:00,NaN,NaN,NaN,34.577,NaN,NaN,34.138,NaN

In [39]:
cols=df.columns.tolist()
cols.sort(reverse=True)
df=df[cols]

Reseting DateTime as an index

In [175]:
df = df.reset_index('DateTime')

In [67]:
df = df.replace(to_replace=0, value=np.nan)

In case of need for a filter

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7097 entries, 0 to 7096
Columns: 557 entries, DateTime to 001000001AA
dtypes: datetime64[ns](1), float64(556)
memory usage: 30.2 MB

In [209]:
filtered_df = df.loc[(df['DateTime'] >= '2022-01-01 00:00:00')
                     & (df['DateTime'] < '2022-02-01 00:00:00')]
filtered_df

,DateTime,077000423AA,056000216AA,056000210AA,056000157AA,056000151AA,056000132AA,056000111AA,056000108AB,056000103AC,...,001000100AA,001000098AA,001000096AA,001000092AB,001000089AB,001000030AB,001000011AA,001000005AC,001000004AB,001000001AA
8510,2022-01-31 23:45:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,29.867,25.260,15.032,27.921,19.425,22.204,21.215,21.343,23.228,21.478
8511,2022-01-31 23:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,31.231,25.952,15.741,25.881,18.722,21.484,21.215,20.627,21.832,21.478
8512,2022-01-31 23:15:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,30.550,24.567,14.321,25.881,18.018,20.762,21.215,21.343,21.132,21.478
8513,2022-01-31 23:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,30.550,24.567,15.032,25.881,17.312,20.038,20.520,19.910,21.832,21.478
8514,2022-01-31 22:45:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,29.867,25.260,15.032,24.513,18.018,19.310,19.124,18.469,19.728,21.478
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11481,2022-01-01 01:00:00,NaN,20.107,20.545,27.806,14.114,24.671,23.974,30.343,NaN,...,29.867,32.109,19.267,35.941,27.054,35.395,29.450,31.177,37.515,27.687
11482,2022-01-01 00:45:00,NaN,20.107,19.823,27.806,13.386,23.280,23.276,31.025,NaN,...,29.867,31.431,19.267,35.941,25.680,35.395,29.450,29.099,36.850,28.370
11483,2022-01-01 00:30:00,NaN,20.846,19.823,27.104,13.386,23.280,23.276,31.025,NaN,...,30.550,31.431,18.564,35.941,24.991,35.395,28.772,29.099,36.850,29.051
11484,2022-01-01 00:15:00,NaN,20.846,20.545,27.806,14.840,22.583,23.276,31.705,NaN,...,29.867,32.785,18.564,35.941,24.991,33.373,28.772,29.099,36.850,27.687
11485,2022-01-01 00:00:00,NaN,20.846,21.264,26.401,15.564,23.280,23.974,31.025,NaN,...,29.183,32.109,19.267,34.620,24.991,33.373,28.772,29.099,36.850,29.051

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7097 entries, 0 to 7096
Columns: 555 entries, DateTime to 001000001AA
dtypes: datetime64[ns](1), float64(554)
memory usage: 30.1 MB

Saving the csv file

In [177]:
df.to_csv(r'C:\Users\ferha\OneDrive\Desktop\myPHPadmin\RCT Updates\JulyAugustData\Update Files\Pilot_Temp_JulyAug.csv', index = False)

SQL script

In [130]:

df_col = pd.DataFrame(df.columns, columns=['cols'])
df_col['var1']='` FLOAT NULL,'
df_col['var']='`'
df_col = pd.DataFrame.reindex(df_col,columns = ['var', 'cols','var1'])
df_col['var1'] = df_col['var1'].astype(str)
df_col['var'] = df_col['var'].astype(str)
df_col['cols'] = df_col['cols'].astype(str)
df_col = df_col.iloc[1:]

df_col["sql"] = df_col['var'].astype(str) +df_col['cols']+ df_col['var1']

df_col

    var         cols           var1                        sql
1     `  056000216AA  ` FLOAT NULL,  `056000216AA` FLOAT NULL,
2     `  056000210AA  ` FLOAT NULL,  `056000210AA` FLOAT NULL,
3     `  056000157AA  ` FLOAT NULL,  `056000157AA` FLOAT NULL,
4     `  056000151AA  ` FLOAT NULL,  `056000151AA` FLOAT NULL,
5     `  056000132AA  ` FLOAT NULL,  `056000132AA` FLOAT NULL,
..   ..          ...            ...                        ...
554   `  001000030AB  ` FLOAT NULL,  `001000030AB` FLOAT NULL,
555   `  001000011AA  ` FLOAT NULL,  `001000011AA` FLOAT NULL,
556   `  001000005AC  ` FLOAT NULL,  `001000005AC` FLOAT NULL,
557   `  001000004AB  ` FLOAT NULL,  `001000004AB` FLOAT NULL,
558   `  001000001AA  ` FLOAT NULL,  `001000001AA` FLOAT NULL,

[558 rows x 4 columns]

In [131]:
df_col.to_csv(r'C:\Users\ferha\OneDrive\Desktop\myPHPadmin\RCT Updates\JulyAugustData\Update Files\RH_update_cols.csv', index = False)

,DateTime,077000423AA,056000216AA,056000210AA,056000157AA,056000151AA,056000132AA,056000111AA,056000108AB,056000103AC,...,001000100AA,001000098AA,001000096AA,001000092AB,001000089AB,001000030AB,001000011AA,001000005AC,001000004AB,001000001AA
0,2022-04-30 15:15:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2022-04-30 15:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022-04-30 14:45:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2022-04-30 14:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2022-04-30 14:15:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39076,2022-03-24 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39077,2022-03-24 16:45:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39078,2022-03-24 16:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39079,2022-03-24 16:15:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39080,2022-03-24 16:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [134]:

df

,DateTime,056000216AA,056000210AA,056000157AA,056000151AA,056000132AA,056000111AA,056000108AB,056000100AA,056000098AB,...,001000105AA,001000098AA,001000096AA,001000092AB,001000089AB,001000030AB,001000011AA,001000005AC,001000004AB,001000001AA
0,2022-08-29 08:45:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2022-08-29 08:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022-08-29 08:15:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2022-08-29 08:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2022-08-29 07:45:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10071,2022-05-16 11:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,40.515,NaN,NaN,NaN,NaN,NaN,NaN
10072,2022-05-16 10:45:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,41.162,NaN,NaN,NaN,NaN,NaN,NaN
10073,2022-05-16 10:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,43.094,NaN,NaN,NaN,NaN,NaN,NaN
10074,2022-05-16 10:15:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,43.094,NaN,NaN,NaN,NaN,NaN,NaN
10075,2022-05-16 10:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,43.735,NaN,NaN,NaN,NaN,NaN,NaN

In [168]:
df_col = pd.DataFrame(df.columns)
df_col['var1']=' set'
df_col['var']='update '
df_col['var3']='rh_all '
df_col['var2']='= null where'
df_col['var4']='=0;'
df_col = pd.DataFrame.reindex(df_col,columns = ['var', 'var3','var1', 0,'var2',0,'var4'])
df_col['var1'] = df_col['var1'].astype(str)
df_col['var'] = df_col['var'].astype(str)
df_col[0] = df_col[0].astype(str)
df_col = df_col.iloc[1:]

#df_col["sql"] = df_col['var'].astype(str) +df_col['cols']+ df_col['var1']

df_col

       var     var3  var1       0          var2       0 var4
1  update   rh_all    set  0088AA  = null where  0088AA  =0;
2  update   rh_all    set  0085AA  = null where  0085AA  =0;
3  update   rh_all    set  0084AA  = null where  0084AA  =0;
4  update   rh_all    set  0076AA  = null where  0076AA  =0;
5  update   rh_all    set  0064AA  = null where  0064AA  =0;
6  update   rh_all    set  0049AA  = null where  0049AA  =0;
7  update   rh_all    set  0044AA  = null where  0044AA  =0;
8  update   rh_all    set  0007AA  = null where  0007AA  =0;

In [169]:
df_col.to_csv(r'C:\Users\ferha\OneDrive\Desktop\myPHPadmin\RCT Updates\JulyAugustData\Update Files\null_code_pilot.csv', index = False)

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,DateTime,0088AA,0085AA,0084AA,0076AA,0064AA,0060AA,0049AA,0044AA,0025AA,0023AA,0016AA,0007AA
1,3/18/2022 12:30,42.113,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3/18/2022 12:15,41.116,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3/18/2022 12:00,41.116,37.534,37.584,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3/18/2022 11:45,40.617,37.034,37.584,NaN,36.573,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
36417,3/3/2021 12:00,NaN,NaN,NaN,37.571,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36418,3/3/2021 11:45,NaN,NaN,NaN,37.072,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36419,3/3/2021 11:30,NaN,NaN,NaN,37.571,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36420,3/3/2021 11:15,NaN,NaN,NaN,37.571,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36421,3/3/2021 11:00,NaN,NaN,NaN,35.076,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [146]:
stats = df.describe()

,007000423AA,056000216AA,056000210AA,056000157AA,056000151AA,056000132AA,056000111AA,056000108AB,056000103AC,056000100AA,...,001000100AA,001000098AA,001000096AA,001000092AB,001000089AB,001000030AB,001000011AA,001000005AC,001000004AB,001000001AA
count,9864.000000,34082.000000,34082.000000,34233.000000,34218.000000,34464.000000,34313.000000,34316.000000,9675.000000,34372.000000,...,32989.000000,32890.000000,32884.000000,32891.000000,33002.000000,33008.000000,32886.000000,32897.000000,33001.000000,32207.000000
mean,29.549316,31.643183,31.929695,30.556302,31.699798,31.763425,31.847567,29.621562,31.021083,30.575938,...,31.290343,32.094823,32.339139,30.027722,31.056408,32.053407,30.290401,31.847138,30.033565,31.364281
std,2.398672,2.826338,3.153405,3.955420,3.029883,4.209863,4.707366,4.217857,3.461252,2.910978,...,4.001775,4.889629,3.064895,4.421735,2.968037,4.429160,3.765040,4.355656,3.883070,3.147722
min,24.619000,23.124444,23.632778,20.684444,24.073889,20.133333,20.635000,19.111667,25.594000,24.086111,...,19.608000,20.573000,23.627000,17.629000,24.064000,20.580000,20.139000,20.635000,19.114000,20.640000
25%,27.619000,29.623000,29.631000,27.687222,29.572778,28.636000,28.636000,27.116667,28.093000,28.085000,...,28.611000,28.574000,30.124000,26.635000,28.563000,28.581000,27.642000,28.636000,27.119000,29.141000
50%,29.117000,31.621000,31.629444,30.186000,31.570556,31.133333,31.135000,29.615000,30.092000,30.084000,...,30.609000,31.572000,32.121000,29.633000,30.562000,31.579000,29.641000,31.633000,29.617000,30.640000
75%,31.115000,33.618333,34.126667,33.181667,34.067222,34.627778,35.131667,32.610556,33.088000,32.581667,...,34.105000,35.569000,34.615000,33.129000,33.059000,35.074000,33.137000,34.628000,32.612000,33.636000
max,36.104000,42.096667,42.111667,42.657222,40.552778,45.590556,46.112222,41.583889,41.072000,41.066667,...,43.085000,46.055000,41.591000,42.604000,40.044000,45.049000,41.117000,45.099000,41.086000,40.120000

If outlier extraction would be needed

In [49]:
#Q1 = df2.quantile(0.05)
#Q3 = df2.quantile(0.95)
#IQR = Q3 - Q1

#df_conf = df2[~((df2 < (Q1 - 1.5 * IQR)) |(df2 > (Q3 + 1.5 * IQR))).any(axis=1)]

low = .05
high = .95
df_conf = df2.quantile([low, high])
df2_filt = df2.apply(lambda x: x[(x>df_conf.loc[low,x.name]) & 
                                    (x < df_conf.loc[high,x.name])], axis=0)

In [50]:
df2_filt.describe()

,0088AA,0085AA,0084AA,0076AA,0064AA,0060AA,0049AA,0044AA,0025AA,0023AA,0016AA,0007AA
count,4132.000000,31104.000000,30593.000000,31393.000000,32712.000000,27790.000000,4147.000000,4167.000000,27582.000000,27469.000000,27455.000000,4109.000000
mean,32.190595,30.373984,30.763082,30.585693,30.410206,30.824959,31.614286,31.321337,31.671774,30.421663,32.181270,30.951308
std,3.846664,3.473219,3.115459,3.424755,3.366798,2.615024,3.917202,3.868121,2.706305,2.740184,2.694697,2.802920
min,25.637000,24.033000,25.594000,24.584000,24.584000,27.113000,25.113000,24.646000,27.136000,26.137000,28.145000,26.113000
25%,29.135000,27.533000,28.093000,28.083000,27.584000,28.612000,28.612000,28.145000,29.135000,28.136000,30.144000,28.612000
50%,31.633000,30.033000,30.592000,30.082000,30.082000,30.611000,31.109000,31.142000,31.608000,30.135000,31.642000,30.611000
75%,35.128000,33.033000,33.090000,33.079000,33.079000,32.610000,34.603000,34.637000,33.605000,32.632000,34.138000,33.109000
max,39.619000,38.083000,37.085000,38.569000,38.070000,36.105000,39.589000,38.627000,37.594500,36.127000,37.629500,36.605000

In [44]:
df2.isnull().sum()

0
0088AA    31727
0085AA     1356
0084AA     1567
0076AA     1356
0064AA       36
0060AA     4907
0049AA    31724
0044AA    31727
0025AA     4946
0023AA     4938
0016AA     4932
0007AA    31719
dtype: int64