Copy files from subfolders to directory

In [6]:
import datetime as dt
import numpy as np
import pandas as pd
import os
import glob
from pathlib import Path
from glob import iglob

convert lowercase to upper

In [7]:
import os

path = r'/Users/baranyildirim/Downloads/Data_ibutton_05092022/'

for file in os.listdir(path):
    os.rename(path + file, path + file.upper())

Regroup files as Temp and RH

In [8]:
import os
import shutil

src = r'/Users/baranyildirim/Downloads/Data_ibutton_05092022/'
dest = r'/Users/baranyildirim/Downloads/RH/'

for path, subdirs, files in os.walk(src):
    for name in files:
        if name.startswith('H'):
            filename = os.path.join(path, name)
            shutil.copy2(filename, dest)

In [9]:
src = r'/Users/baranyildirim/Downloads/Data_ibutton_05092022/'
dest = r'/Users/baranyildirim/Downloads/Temp/'

for path, subdirs, files in os.walk(src):
    for name in files:
        if name.startswith('T'):
            filename = os.path.join(path, name)
            shutil.copy2(filename, dest)

create clean version of all csv files

In [18]:
import datetime as dt
import numpy as np
import pandas as pd
import os
import glob
from pathlib import Path
from glob import iglob



path = r'/Users/baranyildirim/Downloads/RH' # use your path
all_files = glob.glob(path + "/*.CSV")

cnt = 0
finalexcelsheet = pd.DataFrame()
for filename in all_files:
    df = pd.read_csv(filename, sep='§', index_col=None, header=0, engine='python', dayfirst=True)
    s1 = filename
    s2 = "H_"
    s= s1[s1.index(s2) + len(s2):]
    split_string = s.split("_")
    household = split_string[0]

    df = df.iloc[18:]
    df = df.rename(columns={ df.columns[0]: household })
    df = df[household].str.split(",")
    df = df.rename(filename)
    df = df.reset_index()
    df = df.drop(['index'], axis=1)
    df2 = pd.DataFrame(df)
    split_df1 = pd.DataFrame(df2[filename].tolist())

    
    #split_df1 = split_df1[split_df1[0] != '31/09/21 23:05:01']
    #split_df1 = split_df1[split_df1[0] != '31/09/21 23:20:01']
    #split_df1 = split_df1[split_df1[0] != '31/09/21 23:35:01']
    #split_df1 = split_df1[split_df1[0] != '31/09/21 23:50:01']
    
    
    #
    #split_df1['Dates'] = pd.to_datetime(split_df1[0], dayfirst=True).dt.date
    #split_df1['Time'] = pd.to_datetime(split_df1[0]).dt.time
    
    split_df1[household] = split_df1[[2, 3]].apply(lambda x: ','.join(x[x.notnull()]), axis = 1)
    split_df1 = split_df1.drop([2, 3], axis=1, errors='ignore')
    split_df1[household] = split_df1[household].apply(lambda x: x.replace(',','.'))
    split_df1[household] = split_df1[household].astype('float64')
    split_df1[1] = split_df1[1].astype('string')
    for index, row in split_df1.iterrows():
        if split_df1[1][index] == 'F':
            split_df1[household][index] = (split_df1[household][index]-32)*(5/9)
            split_df1.loc[index, 1] = 'C'
    
    
    split_df1.rename(columns = {0: 'DateTime'}, inplace = True)
    
    split_df1 = split_df1.drop([1], axis=1, errors='ignore')
    
    
    split_df1['DateTime'] = pd.to_datetime(split_df1['DateTime']).dt.strftime("%d/%m/%Y %H:%M:%S")
    
    split_df1['DateTime'] = split_df1['DateTime'].astype('datetime64')
    split_df1['DateTime'] = split_df1['DateTime'].agg(lambda x : x.round('15min'))
    
    #split_df1 = split_df1.set_index('DateTime')
    split_df1 = split_df1.dropna()
    
    split_df1 = split_df1.sort_values(['DateTime'])
    


    finalexcelsheet = split_df1
    finalexcelsheet = finalexcelsheet.drop_duplicates()
    cnt +=1
    from pathlib import Path
    p = Path(r'/Users/baranyildirim/Downloads/RH/cleansed_csvs/')
    finalexcelsheet.to_csv(Path(p, 'H_' + str(household)+ '_' + str(cnt) + '.csv'), index=False)
    
    
    
    

    print(split_df1.memory_usage(index=False, deep=True))
    print(split_df1.info())
    
split_df1

DateTime    13848
0044AA      13848
dtype: int64
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1731 entries, 0 to 1730
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   DateTime  1731 non-null   datetime64[ns]
 1   0044AA    1731 non-null   float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 40.6 KB
None
DateTime    13848
0049AA      13848
dtype: int64
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1731 entries, 0 to 1730
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   DateTime  1731 non-null   datetime64[ns]
 1   0049AA    1731 non-null   float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 40.6 KB
None
DateTime    13872
084AA       13872
dtype: int64
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1734 entries, 0 to 1733
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   DateTime  1734 non-null   datetime64[ns]
 1   084AA     1734 non-null   float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 40.6 KB
None
DateTime    13848
0085AA      13848
dtype: int64
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1731 entries, 0 to 1730
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   DateTime  1731 non-null   datetime64[ns]
 1   0085AA    1731 non-null   float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 40.6 KB
None
DateTime    13848
0076AA      13848
dtype: int64
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1731 entries, 0 to 1730
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   DateTime  1731 non-null   datetime64[ns]
 1   0076AA    1731 non-null   float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 40.6 KB
None
DateTime    13856
0007AA      13856
dtype: int64
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1732 entries, 0 to 1731
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   DateTime  1732 non-null   datetime64[ns]
 1   0007AA    1732 non-null   float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 40.6 KB
None
DateTime    13216
0064AA      13216
dtype: int64
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1652 entries, 0 to 1651
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   DateTime  1652 non-null   datetime64[ns]
 1   0064AA    1652 non-null   float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 38.7 KB
None
DateTime    13832
0088AA      13832
dtype: int64
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1729 entries, 0 to 1728
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   DateTime  1729 non-null   datetime64[ns]
 1   0088AA    1729 non-null   float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 40.5 KB
None

                DateTime  0088AA
0    2022-08-18 13:30:00  70.701
1    2022-08-18 13:45:00  52.614
2    2022-08-18 14:00:00  53.878
3    2022-08-18 14:15:00  53.950
4    2022-08-18 14:30:00  52.050
...                  ...     ...
1724 2022-09-05 12:30:00  51.709
1725 2022-09-05 12:45:00  50.580
1726 2022-09-05 13:00:00  51.222
1727 2022-09-05 13:15:00  49.291
1728 2022-09-05 13:30:00  51.862

[1729 rows x 2 columns]

getting householdIDs from csv files in given folder

In [19]:
path = r'/Users/baranyildirim/Downloads/RH/cleansed_csvs'
all_files = glob.glob(path + "/*.csv")

list_hh = []

cnt = 0
finalexcelsheet = pd.DataFrame()
for filename in all_files:
    df = pd.read_csv(filename, sep='comma', index_col=None, header=0, engine='python')
    s1 = filename
    s2 = "H_"
    s= s1[s1.index(s2) + len(s2):]
    split_string = s.split("_")
    household = split_string[0]
    
    list_hh.append(str(household))

Count the appearance and store them in a dictionary

In [20]:
dict_hh = {i:list_hh.count(i) for i in list_hh}

Checking the number of appeariance

In [21]:
diff_dict_hh = dict((k, v) for k, v in dict_hh.items() if v < 2)
key_list = list(diff_dict_hh.keys())
print(key_list)

['0085AA', '0088AA', '084AA', '0044AA', '0076AA', '0049AA', '0007AA', '0064AA']

In [23]:
diff_dict_hh = dict((k, v) for k, v in dict_hh.items() if v > 2) #write the controlling number of appereance
key_list = list(diff_dict_hh.keys())
print(key_list)

[]

Checking the difference

In [24]:
list_hh = list(set(list_hh))

print(len(list_hh))

8

In [25]:
print(len(dict_hh))
print(sum(dict_hh.values()))

8
8

Comparison with serial numbers excel

In [27]:
list_ibutton = pd.read_excel(r'/Users/baranyildirim/Downloads/iButton_serial_numbers.xlsx', index_col=0)
list_serial = list_ibutton['Unnamed: 2'].values.tolist()
diff_list = [item for item in list_hh if item not in list_serial]
#diff_list = pd.DataFrame({'col':diff_list})
diff_list = list(set(diff_list))
diff_list

['0044AA', '0049AA', '0064AA', '0085AA', '0076AA', '0007AA', '084AA', '0088AA']

In [31]:
diff_list1 = [item for item in list_serial if item not in list_hh]
#diff_list = pd.DataFrame({'col':diff_list})
diff_list1

['ID Menage',
 '044000005AA',
 '044000019AB',
 '044000073AA',
 '044000102AA',
 '044000133AA',
 '044000137AA',
 '044000140AA',
 '044000189AA',
 '044000213AA',
 '044000218AA',
 '044000241AA',
 '044000309AA',
 '044000311AA',
 '044000312AA',
 '044000317AA',
 '044000340AC',
 '044000350AA',
 '044000365AA',
 '044000389AA',
 '044000391AA',
 '044000407AA',
 '044000408AA',
 '044000419AA',
 '044000421AA',
 '041000010AA',
 '041000015AA',
 '041000081AA',
 '041000095AA',
 '041000102AA',
 '041000111AA',
 '041000143AA',
 '041000150AA',
 '041000158AA',
 '041000191AA',
 '041000222AA',
 '041000235AA',
 '041000252AA',
 '041000293AA',
 '041000298AA',
 '041000300AA',
 '041000321AA',
 '041000336AA',
 '041000338AA',
 '041000348AA',
 '041000353AA',
 '041000364AA',
 '041000389AA',
 '041000423AA',
 '001000001AA',
 '001000004AB',
 '001000005AC',
 '001000011AA',
 '001000030AB',
 '001000089AB',
 '001000092AB',
 '001000096AA',
 '001000098AA',
 '001000100AA',
 '001000105AA',
 '001000111AA',
 '001000112AA',
 '001000114AA',
 '001000120AA',
 '001000122AA',
 '001000126AA',
 '001000138AA',
 '001000140AA',
 '001000148AA',
 '001000154AA',
 '001000155AA',
 '001000176AA',
 '001000183AA',
 '004000018AA',
 '004000053AA',
 '004000056AA',
 '004000060AA',
 '004000065AA',
 '004000080AA',
 '004000084AA',
 '004000108AA',
 '004000140AA',
 '004000144AA',
 '004000165AA',
 '004000177AA',
 '004000183AA',
 '004000190AA',
 '004000191AA',
 '004000207AA',
 '004000210AA',
 '004000221AA',
 '004000234AA',
 '004000238AA',
 '004000248AA',
 '004000254AA',
 '004000260AA',
 '004000261AA',
 '046000011AA',
 '046000016AA',
 '046000018AB',
 '046000023AD',
 '046000030AA',
 '046000036AA',
 '046000039AA',
 '046000046AA',
 '046000059AA',
 '046000064AA',
 '046000064AB',
 '046000071AA',
 '046000073AB',
 '046000076AA',
 '046000079AA',
 '046000081AA',
 '046000091AA',
 '046000109AA',
 '046000121AA',
 '046000135AA',
 '046000141AA',
 '046000151AA',
 '046000154AA',
 '046000157AA',
 '005000019AA',
 '005000054AA',
 '005000056AA',
 '005000062AB',
 '005000072AA',
 '005000073AA',
 '005000109AA',
 '005000126AA',
 '005000139AA',
 '005000145AA',
 '005000149AB',
 '005000151AA',
 '005000160AA',
 '005000168AA',
 '005000174AA',
 '005000179AA',
 '005000196AA',
 '005000198AA',
 '005000199AA',
 '005000202AA',
 '005000203AA',
 '005000207AA',
 '005000211AA',
 '005000223AA',
 '007000051AA',
 '007000174AA',
 '007000237AA',
 '007000247AA',
 '007000262AA',
 '007000300AA',
 '007000347AA',
 '007000371AA',
 '007000386AA',
 '007000400AC',
 '007000444AA',
 '007000475AA',
 '007000504AA',
 '007000511AA',
 '007000520AA',
 '007000521AA',
 '007000570AA',
 '007000609AA',
 '007000622AA',
 '007000648AA',
 '007000749AA',
 '007000772AA',
 '007000775AA',
 '077000423AA',
 '040000023AB',
 '040000044AB',
 '040000063AA',
 '040000076AB',
 '040000086AB',
 '040000103AA',
 '040000144AA',
 '040000156AB',
 '040000157AB',
 '040000220AC',
 '040000237AE',
 '040000291AF',
 '040000305AA',
 '040000332AA',
 '040000339AA',
 '040000343AA',
 '040000357AB',
 '040000370AA',
 '040000382AA',
 '040000408AA',
 '040000428AA',
 '040000449AA',
 '040000453AA',
 '040000455AA',
 '014000005AA',
 '014000016AA',
 '014000023AB',
 '014000024AA',
 '014000030AA',
 '014000038AB',
 '014000042AA',
 '014000045AA',
 '014000046AA',
 '014000046AB',
 '014000051AA',
 '014000053AB',
 '014000058AA',
 '014000062AA',
 '014000069AE',
 '014000074AB',
 '014000076AB',
 '014000088AA',
 '014000098AA',
 '014000109AA',
 '014000117AA',
 '014000127AA',
 '014000157AA',
 '014000165AA',
 '017000009AA',
 '017000072AA',
 '017000117AA',
 '017000119AB',
 '017000197AB',
 '017000301AC',
 '017000306AA',
 '017000381AA',
 '017000383AA',
 '017000458AA',
 '017000469AA',
 '017000482AA',
 '017000485AA',
 '017000504AA',
 '017000608AA',
 '017000613AA',
 '017000645AA',
 '017000659AA',
 '017000660AA',
 '017000674AA',
 '017000675AA',
 '017000678AA',
 '017000688AA',
 '017000730AA',
 '018000015AA',
 '018000016AA',
 '018000042AA',
 '018000058AB',
 '018000075AA',
 '018000100AA',
 '018000107AA',
 '018000108AA',
 '018000149AA',
 '018000168ABC',
 '018000177AF',
 '018000204AB',
 '018000213AA',
 '018000238AA',
 '018000240ABC',
 '018000241AB',
 '018000293AA',
 '018000295AA',
 '018000296AA',
 '018000307AA',
 '018000365AA',
 '018000427AA',
 '018000431AA',
 '018000449AA',
 '050000005AA',
 '050000006AA',
 '050000016AA',
 '050000045AA',
 '050000050AA',
 '050000058AB',
 '050000062AA',
 '050000073AB',
 '050000076AA',
 '050000095AA',
 '050000100AA',
 '050000104AA',
 '050000107AB',
 '050000118AA',
 '050000120AA',
 '050000136AA',
 '050000198AA',
 '050000205AA',
 '050000207AB',
 '050000208AA',
 '050000223AA',
 '050000236AA',
 '050000238AA',
 '050000262AA',
 '051000003AA',
 '051000012AA',
 '051000042AA',
 '051000046AA',
 '051000070AB',
 '051000072AA',
 '051000082AA',
 '051000089AB',
 '051000090AA',
 '051000101AA',
 '051000101AB',
 '051000110AA',
 '051000129AA',
 '051000138AA',
 '051000139AA',
 '051000145AA',
 '051000145AB',
 '051000147AA',
 '051000160AA',
 '051000163AA',
 '051000164AA',
 '051000170AA',
 '051000171AA',
 '051000176AA',
 '019000039AA',
 '019000160AA',
 '019000209AA',
 '019000220AA',
 '019000241AA',
 '019000262AA',
 '019000263AA',
 '019000507AA',
 '019000507AB',
 '019000583AA',
 '019000585AA',
 '019000587AA',
 '019000588AA',
 '019000597AB',
 '019000609AB',
 '019000613AA',
 '019000614AB',
 '019000620AA',
 '019000662AA',
 '019000665AA',
 '019000666AA',
 '019000687AA',
 '019000691AA',
 '019000692AA',
 '052000030AA',
 '052000044AA',
 '052000049AA',
 '052000058AA',
 '052000060AA',
 '052000069AA',
 '052000082AB',
 '052000109AA',
 '052000120AA',
 '052000122AA',
 '052000127AA',
 '052000132AA',
 '052000145AA',
 '052000153AA',
 '052000165AC',
 '052000185AA',
 '052000193AA',
 '052000197AA',
 '052000208AA',
 '052000209AA',
 '052000210AA',
 '052000214AA',
 '052000246AA',
 '052000256AA',
 '020000002AC',
 '020000006AA',
 '020000007AA',
 '020000009AA',
 '020000017AB',
 '020000060AA',
 '020000061AB',
 '020000067AB',
 '020000073AA',
 '020000096AD',
 '020000097AA',
 '020000098AA',
 '020000111AB',
 '020000122AC',
 '020000142AA',
 '020000166AB',
 '020000195AA',
 '020000200AB',
 '020000236AB',
 '020000257AA',
 '020000261AA',
 '020000281AA',
 '020000285AA',
 '020000287AA',
 '022000001AB',
 '022000006AA',
 '022000019AA',
 '022000023AB',
 '022000044AB',
 '022000051AE',
 '022000056AB',
 '022000061AA',
 '022000094AA',
 '022000102AA',
 '022000103AA',
 '022000111AA',
 '022000117AA',
 '022000123AA',
 '022000126AA',
 '022000127AA',
 '022000128AA',
 '022000129AA',
 '022000133AA',
 '022000134AA',
 '022000140AA',
 '022000145AA',
 '022000147AA',
 '022000159AA',
 '024000020AA',
 '024000021AB',
 '024000030AA',
 '024000036AA',
 '024000091AC',
 '024000107AA',
 '024000109AB',
 '024000127AA',
 '024000149AA',
 '024000163AA',
 '024000166AA',
 '024000170AA',
 '024000172AA',
 '024000174AA ',
 '024000186AA',
 '024000191AA',
 '024000196AA',
 '024000215AA',
 '024000225AA',
 '024000240AA',
 '024000242AA',
 '024000245AA',
 '024000252AA',
 '024000272AA',
 '056000018AA',
 '056000022AC',
 '056000028AA',
 '056000042AA',
 '056000047AA',
 '056000049AA',
 '056000057AC',
 '056000062AA',
 '056000071AC',
 '056000077AA',
 '056000080AA',
 '056000085AB',
 '056000095AA',
 '056000096AB',
 '056000098AB',
 '056000100AA',
 '056000103AC',
 '056000108AB',
 '056000111AA',
 '056000132AA',
 '056000151AA',
 '056000157AA',
 '056000210AA',
 '056000216AA',
 '026000001AA',
 '026000002AA',
 '026000002AB',
 '026000002AC',
 '026000005AB',
 '026000044AB',
 '026000057AB',
 '026000066AA',
 '026000074AA',
 '026000092AA',
 '026000154AA',
 '026000160AA',
 '026000189AA',
 '026000190AA',
 '026000191AA',
 '026000193AA',
 '026000211AA',
 '026000214AA',
 '026000231AA',
 '026000233AA',
 '026000265AA',
 '026000272AA',
 '026000276AA',
 '026000278AA',
 '042010240AB',
 '042010303AA',
 '042010308AA',
 '042010318AA',
 '042010446AA',
 '042020124AB',
 '042020232AC',
 '042020324AB',
 '042030584AB',
 '042040178AI',
 '042040313AA',
 '042040314AA',
 '042040315AA',
 '042040324AA',
 '042040336AA',
 '042040944AA',
 '042050164AA',
 '042050283AB',
 '042050374AA',
 '042050524AB',
 '042060267AC',
 '042070314AA',
 '042070316AA',
 '042070497AA',
 '028000017AB',
 '028000019AA',
 '028000020AB',
 '028000021AA',
 '028000027AA',
 '028000031AC',
 '028000035AB',
 '028000045AB',
 '028000045AD',
 '028000063AA',
 '028000063AB',
 '028000072AA',
 '028000072AB',
 '028000073AA',
 '028000095AA',
 '028000126AA',
 '028000137AA',
 '028000137AC',
 '028000140AA',
 '028000143AA',
 '028000145AB',
 '028000157AA',
 '028000200AA',
 '028000257AA',
 '032000017AA',
 '032000050AA',
 '032000053AB',
 '032000068AA',
 '032000073AA',
 '032000085AA',
 '032000094AA',
 '032000117AA',
 '032000177AB',
 '032000180AA',
 '032000209AA',
 '032000217AA',
 '032000223AA',
 '032000224AA',
 '032000233AA',
 '032000235AC',
 '032000243AA',
 '032000244AA',
 '032000246AA',
 '032000260AA',
 '032000264AA',
 '032000265AA',
 '032000276AA',
 '032000282AA',
 '033000001AA',
 '033000001AB',
 '033000002AB',
 '033000007AD',
 '033000008AA',
 '033000012AA',
 '033000027AA',
 '033000051AB',
 '033000081AA',
 '033000095AA',
 '033000111AA',
 '033000120AB',
 '033000120AC',
 '033000126AA',
 '033000170AA',
 '033000184AA',
 '033000209AA',
 '033000220AA',
 '033000238AA',
 '033000248AA',
 '033000249AA',
 '033000273AB',
 '033000288AA',
 '033000290AA',
 '002000012AA',
 '002000021AA',
 '002000021AD',
 '002000027AA',
 '002000028AB',
 '002000058AA',
 '002000096AA',
 '002000100AA',
 '002000102AB',
 '002000169AA',
 '002000170AB',
 '002000170AL',
 '002000194AA',
 '002000235AA',
 '002000242AA',
 '002000244AA',
 '002000311AA',
 '002000320AA',
 '002000330AA',
 '002000362AA',
 '002000373AA',
 '002000389AA',
 '002000408AA',
 '002000428AA',
 nan,
 nan,
 nan]

Merging csv files belong to same householdID

In [32]:
import glob
import os
import pandas

def create_merged_csv(key, filelist):
    outfile = 'Concat_{}.csv'.format(key)
    l = []
    for filename in filelist:
        df = pandas.read_csv(filename)
        l.append(df)
    pd.concat(l).to_csv(outfile, index=False)

def find_filesets(path='.'):
    csv_files = {}
    for name in glob.glob("{}/*_*.csv".format(path)):
        key = '_'.join(name.split('_')[2:-1])
        csv_files.setdefault(key, []).append(name)
        
       
    for key,filelist in csv_files.items(): 
        print(key)
        create_merged_csv(key, filelist)

TEST_DIR_NAME=r'/Users/baranyildirim/Downloads/RH/cleansed_csvs'
os.chdir(r'/Users/baranyildirim/Downloads/RH/merged_csvs')
find_filesets(TEST_DIR_NAME)

0085AA
0088AA
084AA
0044AA
0076AA
0049AA
0007AA
0064AA

Merging cleansed household data into one table

In [34]:
path = r'/Users/baranyildirim/Downloads/RH/merged_csvs/folder' # use your path
all_files = glob.glob(path + "/*.csv")

for filename in all_files:
    #df = pd.read_csv(filename, sep=',', index_col=None, header=None, engine='python')
    df = pd.read_csv(filename, sep=',', index_col=None, header=0, engine='python')
    df = df.groupby('DateTime').mean().reset_index()
    df = df.drop_duplicates(subset='DateTime', keep='first')
    
    df['DateTime'] = df['DateTime'].astype('datetime64')
    df = df.sort_values(['DateTime'],ascending=False)
    df = df.set_index('DateTime')
    
    
path = r'/Users/baranyildirim/Downloads/RH/merged_csvs' # use your path
all_files = glob.glob(path + "/*.csv")

for filename in all_files:
    df1 = pd.read_csv(filename, sep=',', index_col=None, header=None, engine='python')
    s1 = filename
    s2 = "Concat_"
    s= s1[s1.index(s2) + len(s2):]
    split_string = s.split("_")
    household = split_string[0]
    household = household.rsplit('.', 1)[0]
    if 2 in df1.columns:
    
        df1 = df1.iloc[1:]
        df1.rename(columns = {1: 'first', 2:'second'}, inplace = True)
        
        df1['first'] = df1['first'].replace('nan', np.nan).fillna(0)
        df1['first'] = df1['first'].astype('float64')
        df1['second'] = df1['second'].replace('nan', np.nan).fillna(0)
        df1['second'] = df1['second'].astype('float64')
        #df['first'] = df['first'].apply(lambda x: x.replace(',','.'))
        #df['second'] = df['second'].apply(lambda x: x.replace(',','.'))
        df1[household]= df1['first'] +df1['second']
        
        df1.drop('first', axis=1, inplace=True) 
        df1.drop('second', axis=1, inplace=True) 
        
        df1.rename(columns = {0: 'DateTime'}, inplace = True)
        df1 = df1.groupby('DateTime').mean().reset_index()
        df1 = df1.drop_duplicates(subset='DateTime', keep='first')
        df1['DateTime'] = df1['DateTime'].astype('datetime64')
        df1 = df1.sort_values(['DateTime'],ascending=False)
        df1 = df1.set_index('DateTime')

        df1.info()
        
        
        df =df1.join(df, lsuffix="_left", rsuffix="_right", how='outer')
    else:
        
        df1 = pd.read_csv(filename, sep=',', index_col=None, header=None, engine='python')
        s1 = filename
        s2 = "Concat_"
        s= s1[s1.index(s2) + len(s2):]
        split_string = s.split("_")
        household = split_string[0]
        household = household.rsplit('.', 1)[0]
       
        df1 = df1.iloc[1:]
        
        df1.rename(columns = {1: household}, inplace = True)
        df1[household] = df1[household].replace('nan', np.nan).fillna(0)
        df1[household] = df1[household].astype('float64')
        
        
        df1.rename(columns = {0: 'DateTime'}, inplace = True)
        df1 = df1.groupby('DateTime').mean().reset_index()
        df1 = df1.drop_duplicates(subset='DateTime', keep='first')
        df1['DateTime'] = df1['DateTime'].astype('datetime64')
        df1 = df1.sort_values(['DateTime'],ascending=False)
        df1 = df1.set_index('DateTime')
        
        df1.info()
        df =df1.join(df, how='outer')
        
        
        
df = df.sort_values(['DateTime'],ascending=False)

       
df

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1731 entries, 2022-09-05 12:30:00 to 2022-08-18 12:00:00
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0076AA  1731 non-null   float64
dtypes: float64(1)
memory usage: 27.0 KB
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1731 entries, 2022-09-05 12:45:00 to 2022-08-18 12:15:00
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0049AA  1731 non-null   float64
dtypes: float64(1)
memory usage: 27.0 KB
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1731 entries, 2022-09-05 12:30:00 to 2022-08-18 12:00:00
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0044AA  1731 non-null   float64
dtypes: float64(1)
memory usage: 27.0 KB
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1652 entries, 2022-09-05 13:15:00 to 2022-08-19 08:30:00
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0064AA  1652 non-null   float64
dtypes: float64(1)
memory usage: 25.8 KB
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1732 entries, 2022-09-05 13:15:00 to 2022-08-18 12:30:00
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0007AA  1732 non-null   float64
dtypes: float64(1)
memory usage: 27.1 KB
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1731 entries, 2022-09-05 13:45:00 to 2022-08-18 13:15:00
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0085AA  1731 non-null   float64
dtypes: float64(1)
memory usage: 27.0 KB
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1734 entries, 2022-09-05 14:15:00 to 2022-08-18 13:00:00
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   084AA   1734 non-null   float64
dtypes: float64(1)
memory usage: 27.1 KB

,084AA,0085AA,0007AA,0064AA,0044AA,0049AA,0076AA,0088AA
DateTime,,,,,,,,
2022-09-05 14:15:00,72.834,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-09-05 14:00:00,66.533,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-09-05 13:45:00,68.217,66.406,NaN,NaN,NaN,NaN,NaN,NaN
2022-09-05 13:30:00,67.633,66.406,NaN,NaN,NaN,NaN,NaN,51.862
2022-09-05 13:15:00,66.977,65.267,73.671,61.502,NaN,NaN,NaN,49.291
...,...,...,...,...,...,...,...,...
2022-08-18 13:00:00,68.873,NaN,71.645,NaN,64.547,57.439,75.449,NaN
2022-08-18 12:45:00,NaN,NaN,70.486,NaN,65.077,56.891,74.885,NaN
2022-08-18 12:30:00,NaN,NaN,79.183,NaN,66.202,59.222,76.506,NaN
2022-08-18 12:15:00,NaN,NaN,NaN,NaN,64.478,73.001,76.506,NaN
2022-08-18 12:00:00,NaN,NaN,NaN,NaN,69.439,NaN,70.226,NaN

In [35]:
cols=df.columns.tolist()
cols.sort(reverse=True)
df=df[cols]

Reseting DateTime as an index

In [175]:
df = df.reset_index('DateTime')

In [67]:
df = df.replace(to_replace=0, value=np.nan)

In case of need for a filter

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1738 entries, 2022-09-05 14:15:00 to 2022-08-18 12:00:00
Freq: -15T
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   084AA   1734 non-null   float64
 1   0088AA  1729 non-null   float64
 2   0085AA  1731 non-null   float64
 3   0076AA  1731 non-null   float64
 4   0064AA  1652 non-null   float64
 5   0049AA  1731 non-null   float64
 6   0044AA  1731 non-null   float64
 7   0007AA  1732 non-null   float64
dtypes: float64(8)
memory usage: 122.2 KB

In case of filterin for date and time run the cell below

In [209]:
filtered_df = df.loc[(df['DateTime'] >= '2022-01-01 00:00:00')
                     & (df['DateTime'] < '2022-02-01 00:00:00')]
filtered_df

,DateTime,077000423AA,056000216AA,056000210AA,056000157AA,056000151AA,056000132AA,056000111AA,056000108AB,056000103AC,...,001000100AA,001000098AA,001000096AA,001000092AB,001000089AB,001000030AB,001000011AA,001000005AC,001000004AB,001000001AA
8510,2022-01-31 23:45:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,29.867,25.260,15.032,27.921,19.425,22.204,21.215,21.343,23.228,21.478
8511,2022-01-31 23:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,31.231,25.952,15.741,25.881,18.722,21.484,21.215,20.627,21.832,21.478
8512,2022-01-31 23:15:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,30.550,24.567,14.321,25.881,18.018,20.762,21.215,21.343,21.132,21.478
8513,2022-01-31 23:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,30.550,24.567,15.032,25.881,17.312,20.038,20.520,19.910,21.832,21.478
8514,2022-01-31 22:45:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,29.867,25.260,15.032,24.513,18.018,19.310,19.124,18.469,19.728,21.478
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11481,2022-01-01 01:00:00,NaN,20.107,20.545,27.806,14.114,24.671,23.974,30.343,NaN,...,29.867,32.109,19.267,35.941,27.054,35.395,29.450,31.177,37.515,27.687
11482,2022-01-01 00:45:00,NaN,20.107,19.823,27.806,13.386,23.280,23.276,31.025,NaN,...,29.867,31.431,19.267,35.941,25.680,35.395,29.450,29.099,36.850,28.370
11483,2022-01-01 00:30:00,NaN,20.846,19.823,27.104,13.386,23.280,23.276,31.025,NaN,...,30.550,31.431,18.564,35.941,24.991,35.395,28.772,29.099,36.850,29.051
11484,2022-01-01 00:15:00,NaN,20.846,20.545,27.806,14.840,22.583,23.276,31.705,NaN,...,29.867,32.785,18.564,35.941,24.991,33.373,28.772,29.099,36.850,27.687
11485,2022-01-01 00:00:00,NaN,20.846,21.264,26.401,15.564,23.280,23.974,31.025,NaN,...,29.183,32.109,19.267,34.620,24.991,33.373,28.772,29.099,36.850,29.051

Saving the csv file

In [177]:
df.to_csv(r'C:\Users\ferha\OneDrive\Desktop\myPHPadmin\RCT Updates\JulyAugustData\Update Files\Pilot_RH.csv', index = False)

SQL script

In [37]:

df_col = pd.DataFrame(df.columns, columns=['cols'])
df_col['var1']='` FLOAT NULL,'
df_col['var']='`'
df_col = pd.DataFrame.reindex(df_col,columns = ['var', 'cols','var1'])
df_col['var1'] = df_col['var1'].astype(str)
df_col['var'] = df_col['var'].astype(str)
df_col['cols'] = df_col['cols'].astype(str)
df_col = df_col.iloc[1:]

df_col["sql"] = df_col['var'].astype(str) +df_col['cols']+ df_col['var1']

df_col

  var    cols           var1                   sql
1   `  0088AA  ` FLOAT NULL,  `0088AA` FLOAT NULL,
2   `  0085AA  ` FLOAT NULL,  `0085AA` FLOAT NULL,
3   `  0076AA  ` FLOAT NULL,  `0076AA` FLOAT NULL,
4   `  0064AA  ` FLOAT NULL,  `0064AA` FLOAT NULL,
5   `  0049AA  ` FLOAT NULL,  `0049AA` FLOAT NULL,
6   `  0044AA  ` FLOAT NULL,  `0044AA` FLOAT NULL,
7   `  0007AA  ` FLOAT NULL,  `0007AA` FLOAT NULL,

In [131]:
df_col.to_csv(r'C:\Users\ferha\OneDrive\Desktop\myPHPadmin\RCT Updates\JulyAugustData\Update Files\RH_update_cols.csv', index = False)

In [38]:
df_col = pd.DataFrame(df.columns)
df_col['var1']=' set'
df_col['var']='update '
df_col['var3']='rh_all '
df_col['var2']='= null where'
df_col['var4']='=0;'
df_col = pd.DataFrame.reindex(df_col,columns = ['var', 'var3','var1', 0,'var2',0,'var4'])
df_col['var1'] = df_col['var1'].astype(str)
df_col['var'] = df_col['var'].astype(str)
df_col[0] = df_col[0].astype(str)
df_col = df_col.iloc[1:]

#df_col["sql"] = df_col['var'].astype(str) +df_col['cols']+ df_col['var1']

df_col

       var     var3  var1       0          var2       0 var4
1  update   rh_all    set  0088AA  = null where  0088AA  =0;
2  update   rh_all    set  0085AA  = null where  0085AA  =0;
3  update   rh_all    set  0076AA  = null where  0076AA  =0;
4  update   rh_all    set  0064AA  = null where  0064AA  =0;
5  update   rh_all    set  0049AA  = null where  0049AA  =0;
6  update   rh_all    set  0044AA  = null where  0044AA  =0;
7  update   rh_all    set  0007AA  = null where  0007AA  =0;

In [169]:
df_col.to_csv(r'C:\Users\ferha\OneDrive\Desktop\myPHPadmin\RCT Updates\JulyAugustData\Update Files\null_code_pilot.csv', index = False)

In [40]:
stats = df.describe()
stats

,084AA,0088AA,0085AA,0076AA,0064AA,0049AA,0044AA,0007AA
count,1734.000000,1729.000000,1731.000000,1731.000000,1652.000000,1731.000000,1731.000000,1732.000000
mean,84.360321,77.259881,82.531449,85.227124,81.449925,76.657901,78.742255,81.264790
std,7.174725,11.299652,6.469811,6.704472,8.086880,11.146447,9.420363,6.945835
min,64.354000,47.199000,63.541000,63.513000,50.767000,47.736000,53.906000,58.754000
25%,79.944000,70.142000,79.300000,82.369000,76.563000,69.116000,72.839000,77.014000
50%,86.632000,81.683000,83.923000,87.105000,83.059000,80.651000,81.967000,83.819500
75%,89.914000,86.231000,87.340000,90.112000,88.434000,85.915500,86.441000,86.589000
max,94.468000,91.779000,94.725000,95.928000,93.796000,91.249000,90.533000,90.292000

null values

In [46]:
df.isnull().sum()

084AA      4
0088AA     9
0085AA     7
0076AA     7
0064AA    86
0049AA     7
0044AA     7
0007AA     6
dtype: int64